<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - dota is trash</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @if (Request.Cookies["theme"] == null || Request.Cookies["theme"].Value == "light")
    {
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    }
    else
    {
    if (Request.Cookies["theme"].Value == "dark")
    {
    <link href="~/Content/SiteDark.css" rel="stylesheet" type="text/css" />
    }
    }
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("myApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Переключить навигацию" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Link gen", "Index", "link", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Controller", "Index", "MAP", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Theme", "ChangeTheme", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
